Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: detect-private-key

  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-vet
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Additional Go tools
  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing debugging replacements
        entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
        language: system
        files: "go.mod$"

      - id: go-vulncheck
        name: Go vulnerability check
        entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
        language: system
        files: "(\\.go|go\\.mod|go\\.sum)$"
        pass_filenames: false

      - id: go-generate-check
        name: Check go generate is up to date
        entry: bash -c 'go generate ./... && git diff --exit-code'
        language: system
        files: "\\.go$"
        pass_filenames: false

default_install_hook_types:
  - pre-commit
  - pre-push

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Short system prompt
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Prompt improvements
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Much better prompts
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Improvements to prompt for loomedit
  README.md
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Improvements to prompt for loomedit
  llm/prompt.go
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
Due: go-vulncheck, go-generate-check

Minor fix
  loom_edit/loom_edit.go
Due: go-vulncheck, go-generate-check

Code style
  loom_edit/loom_edit_test.go
  shared/models/task.go
Due: go-vulncheck, go-generate-check

Model selection
  gui/app.go
  gui/frontend/src/App.tsx
  gui/frontend/src/components/ModelSelector.css
  gui/frontend/src/components/ModelSelector.tsx
  gui/frontend/wailsjs/go/main/App.d.ts
  gui/frontend/wailsjs/go/main/App.js
  llm/prompt.go
  shared/services/chat_service.go
Due: go-vulncheck, go-generate-check

More prompts stuff
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Fix bugs with Tasks and Files tabs crashing app
  gui/frontend/src/App.tsx
  gui/frontend/src/components/FileExplorer.tsx
  gui/frontend/src/components/TaskQueue.tsx
  gui/main.go
Due: go-vulncheck, go-generate-check

Upgrade due to vuln
  gui/go.mod
  gui/go.sum
Due: go-no-replacement, go-vulncheck

Update shared/services/task_service.go
  shared/services/task_service.go
Due: go-vulncheck, go-generate-check

Update task/executor.go
  task/executor.go
Due: go-vulncheck, go-generate-check

Update gui/frontend/src/components/TaskQueue.tsx
  gui/frontend/src/components/TaskQueue.tsx
Due: none

Minor fix
  gui/frontend/src/components/TaskQueue.tsx
  shared/services/task_service.go
Due: go-vulncheck, go-generate-check

Change models
  gui/frontend/src/components/ModelSelector.tsx
Due: none

Remove some make commands, remove read output from convo
  Makefile
  chat/session.go
  chat/session_test.go
  shared/services/chat_service.go
Due: go-vulncheck, go-generate-check

WIP
  chat/session_test.go
  gui/frontend/package-lock.json
  gui/frontend/package.json
  gui/frontend/src/components/ChatWindow.css
  gui/frontend/src/components/ChatWindow.tsx
  gui/frontend/src/components/MarkdownMessage.css
  gui/frontend/src/components/MarkdownMessage.tsx
  gui/frontend/vite.config.ts
  llm/prompt.go
  task/task.go
  task/task_test.go
Due: go-vulncheck, go-generate-check

Markdown
  gui/frontend/package-lock.json
  gui/frontend/package.json
  gui/frontend/package.json.md5
  gui/frontend/src/components/MarkdownMessage.css
  gui/frontend/src/components/MarkdownMessage.tsx
Due: none

WIP
  chat/session.go
  task/executor.go
  task/manager.go
Due: go-vulncheck, go-generate-check

WIP
  task/task.go
Due: go-vulncheck, go-generate-check

Improvements to task detection
  debug_test.go
  task/task.go
Due: go-vulncheck, go-generate-check

Readme updates
  README.md
  screenshot-tui.png
  screenshot.png
Due: none

Fix test
  task/task_test.go
Due: go-vulncheck, go-generate-check

Fix tests
  debug_test.go
  task/task.go
  task/task_test.go
Due: go-vulncheck, go-generate-check

Remove files
  gui/frontend/wailsjs/runtime/package.json
  gui/frontend/wailsjs/runtime/runtime.d.ts
  gui/frontend/wailsjs/runtime/runtime.js
Due: none

Add runtime
  gui/frontend/wailsjs/runtime/package.json
  gui/frontend/wailsjs/runtime/runtime.d.ts
  gui/frontend/wailsjs/runtime/runtime.js
Due: none

Improvements
  gui/frontend/src/components/MarkdownMessage.tsx
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Confirmation
  shared/services/chat_service.go
  task/completion_detector.go
  task/manager.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

WIP
  shared/services/chat_service.go
  task/completion_detector.go
  task/manager.go.backup
  task/manager.go.bak
  tui/tui.go
Due: go-vulncheck, go-generate-check

Minor fixes
  gui/frontend/wailsjs/runtime/package.json
  gui/frontend/wailsjs/runtime/runtime.d.ts
  gui/frontend/wailsjs/runtime/runtime.js
  shared/services/chat_service.go
Due: go-vulncheck, go-generate-check

Minor fixes
  gui/frontend/wailsjs/runtime/package.json
  gui/frontend/wailsjs/runtime/runtime.d.ts
  gui/frontend/wailsjs/runtime/runtime.js
Due: none

Fix clear chat
  shared/services/chat_service.go
Due: go-vulncheck, go-generate-check

Fix tests
  task/manager.go
  task/task.go
Due: go-vulncheck, go-generate-check

Fix bug
  gui/frontend/src/components/TaskQueue.tsx
Due: none

Replace dist-macos-arm with dist-macos
  Makefile
Due: none

Markdown improvements
  chat/session.go
  chat/session_test.go
  gui/frontend/src/components/MarkdownMessage.tsx
  gui/frontend/src/components/ModelSelector.tsx
Due: go-vulncheck, go-generate-check

Fix some frontend stuff
  gui/frontend/src/components/ChatWindow.tsx
  gui/frontend/src/components/MarkdownMessage.tsx
  gui/frontend/src/types/index.ts
  gui/frontend/wailsjs/go/models.ts
  llm/adapter.go
  shared/models/message.go
  shared/services/chat_service.go
  task/manager.go
Due: go-vulncheck, go-generate-check
