Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: detect-private-key

  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-vet
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Additional Go tools
  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing debugging replacements
        entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
        language: system
        files: "go.mod$"

      - id: go-vulncheck
        name: Go vulnerability check
        entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
        language: system
        files: "(\\.go|go\\.mod|go\\.sum)$"
        pass_filenames: false

      - id: go-generate-check
        name: Check go generate is up to date
        entry: bash -c 'go generate ./... && git diff --exit-code'
        language: system
        files: "\\.go$"
        pass_filenames: false

default_install_hook_types:
  - pre-commit
  - pre-push

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Clean up code
  deadcode.go.bak
  deadcode.txt
  git/git.go
  indexer/ripgrep.go
  llm/prompt.go
  session/persistence.go
  session/recovery.go
  task/action_plan.go
  task/completion_detector.go
  task/executor.go
  task/manager.go
  task/sequential_manager.go
  task/staged_executor.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

Indicator
  gui/frontend/src/components/ChatWindow.css
  gui/frontend/src/components/ChatWindow.tsx
  gui/frontend/src/components/LLMStatusIndicator.css
  gui/frontend/src/components/LLMStatusIndicator.tsx
Due: none

Fix broken tests
  git/git_test.go
  indexer/ripgrep.go
  session/session_test.go
  tui/tui_test.go
Due: go-vulncheck, go-generate-check

WIP
  chat/session.go
  llm/claude.go
  llm/prompt.go
  shared/services/chat_service.go
  task/manager.go
  task/manager.go.bak
  task/sequential_manager.go
Due: go-vulncheck, go-generate-check

WIP
  chat/session.go
  context/context.go
  set_debug.sh
  shared/services/chat_service.go
  task/manager.go
  task/task.go
Due: go-vulncheck, go-generate-check

WIP
  task/manager.go
  task/task.go
Due: go-vulncheck, go-generate-check

Initial commit rewrite
  LICENSE
  README.md
  cmd/loomgui/main.go
  cmd/loomgui/wails.json
  go.mod
  go.sum
  internal/adapter/anthropic/client.go
  internal/adapter/factory.go
  internal/adapter/openai/client.go
  internal/bridge/ui.go
  internal/editor/validator.go
  internal/engine/orchestrator.go
  internal/indexer/ripgrep.go
  internal/memory/project.go
  internal/memory/store.go
  internal/tool/edit.go
  internal/tool/read.go
  internal/tool/registry.go
  internal/tool/search.go
  ui/index.html
  ui/package.json
  ui/src/App.css
  ui/src/App.tsx
  ui/src/main.tsx
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: go-no-replacement, go-vulncheck, go-generate-check

Add packages
  ui/.gitignore
  ui/package-lock.json
Due: none

Fix some architecture bugs
  cmd/loomgui/main.go
  cmd/loomgui/wails.json
  internal/adapter/openai/client.go
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

Move frontend
  cmd/loomgui/frontend/.gitignore
  cmd/loomgui/frontend/index.html
  cmd/loomgui/frontend/package-lock.json
  cmd/loomgui/frontend/package.json
  cmd/loomgui/frontend/package.json.md5
  cmd/loomgui/frontend/src/App.css
  cmd/loomgui/frontend/src/App.tsx
  cmd/loomgui/frontend/src/main.tsx
  cmd/loomgui/frontend/tsconfig.json
  cmd/loomgui/frontend/tsconfig.node.json
  cmd/loomgui/frontend/vite.config.ts
  cmd/loomgui/frontend/wailsjs/go/bridge/App.d.ts
  cmd/loomgui/frontend/wailsjs/go/bridge/App.js
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
  cmd/loomgui/main.go
  cmd/loomgui/wails.json
Due: go-vulncheck, go-generate-check

Updating bridge imports
  cmd/loomgui/frontend/src/App.tsx
Due: none

Bindings
  cmd/loomgui/frontend/package-lock.json
  cmd/loomgui/frontend/src/App.tsx
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
Due: none

Remove old ui, update readme
  README.md
  ui/.gitignore
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/App.css
  ui/src/App.tsx
  ui/src/main.tsx
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: none

General improvements
  go.mod
  go.sum
  internal/editor/validator.go
  internal/engine/orchestrator.go
  internal/tool/edit.go
Due: go-no-replacement, go-vulncheck, go-generate-check

Use struct
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

Changes to app
  cmd/loomgui/frontend/src/App.css
  cmd/loomgui/frontend/src/App.tsx
Due: none

Remove assets
  cmd/loomgui/main.go
Due: go-vulncheck, go-generate-check

WIP
  README.md
  cmd/loomgui/frontend/src/App.tsx
  cmd/loomgui/main.go
  internal/bridge/ui.go
  internal/editor/apply.go
  internal/engine/orchestrator.go
  internal/memory/conversation.go
  internal/tool/dir.go
  internal/tool/edit.go
  internal/tool/edit_apply.go
  internal/tool/registry.go
Due: go-vulncheck, go-generate-check

Add makefile
  Makefile
Due: none

Minor improvements
  cmd/loomgui/frontend/wailsjs/go/bridge/App.d.ts
  cmd/loomgui/frontend/wailsjs/go/bridge/App.js
  cmd/loomgui/main.go
  internal/adapter/openai/client.go
Due: go-vulncheck, go-generate-check

Rewrite stuff
  README.md
  internal/adapter/README.md
  internal/adapter/anthropic/client.go
  internal/adapter/factory.go
  internal/adapter/ollama/client.go
  internal/adapter/openai/client.go
  internal/editor/apply.go
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

Minor changes
  internal/adapter/openai/client.go
Due: go-vulncheck, go-generate-check

Rewrite openai client
  internal/adapter/openai/client.go
Due: go-vulncheck, go-generate-check

Improvements to visuals
  cmd/loomgui/frontend/package-lock.json
  cmd/loomgui/frontend/package.json
  cmd/loomgui/frontend/src/App.css
  cmd/loomgui/frontend/src/App.tsx
Due: none

Markdown
  cmd/loomgui/frontend/package-lock.json
  cmd/loomgui/frontend/package.json
  cmd/loomgui/frontend/src/App.tsx
Due: none

Remove package md
  cmd/loomgui/frontend/.gitignore
  cmd/loomgui/frontend/package.json.md5
Due: none

WIP
  DEBUGGING.md
  Makefile
  cmd/loomgui/frontend/package-lock.json
  cmd/loomgui/frontend/package.json
  cmd/loomgui/frontend/src/App.css
  cmd/loomgui/frontend/src/App.tsx
  cmd/loomgui/frontend/src/ErrorBoundary.tsx
  cmd/loomgui/frontend/src/main.tsx
  cmd/loomgui/frontend/vite.config.ts
  cmd/loomgui/main.go
  cmd/loomgui/run_debug.sh
Due: go-vulncheck, go-generate-check

WIP
  cmd/loomgui/frontend/src/App.css
  cmd/loomgui/frontend/src/App.tsx
  cmd/loomgui/frontend/src/ModelSelector.css
  cmd/loomgui/frontend/src/ModelSelector.tsx
  cmd/loomgui/frontend/wailsjs/go/bridge/App.d.ts
  cmd/loomgui/frontend/wailsjs/go/bridge/App.js
  cmd/loomgui/frontend/wailsjs/go/models.ts
  cmd/loomgui/main.go
  internal/adapter/factory.go
  internal/adapter/models.go
  internal/bridge/ui.go
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

WIP
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
  internal/adapter/anthropic/client.go
Due: go-vulncheck, go-generate-check

Reasoning models
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
  internal/adapter/openai/client.go
Due: go-vulncheck, go-generate-check

Minor fixes
  internal/adapter/anthropic/client.go
  internal/adapter/factory.go
  internal/bridge/ui.go
Due: go-vulncheck, go-generate-check

Improving anthropic client
  internal/adapter/anthropic/client.go
  internal/adapter/factory.go
Due: go-vulncheck, go-generate-check

Improving anthropic client
  cmd/loomgui/frontend/src/ModelSelector.tsx
  internal/adapter/anthropic/client.go
  internal/adapter/models.go
Due: go-vulncheck, go-generate-check

Add max tokens
  internal/adapter/anthropic/client.go
Due: go-vulncheck, go-generate-check

Fix openai
  cmd/loomgui/frontend/wailsjs/go/bridge/App.d.ts
  cmd/loomgui/frontend/wailsjs/go/bridge/App.js
  cmd/loomgui/main.go
  internal/bridge/ui.go
Due: go-vulncheck, go-generate-check

WIP
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
  internal/adapter/anthropic/client.go
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

Anthropic bugs
  cmd/loomgui/frontend/src/ModelSelector.tsx
  cmd/loomgui/frontend/wailsjs/runtime/package.json
  cmd/loomgui/frontend/wailsjs/runtime/runtime.d.ts
  cmd/loomgui/frontend/wailsjs/runtime/runtime.js
  internal/adapter/anthropic/client.go
Due: go-vulncheck, go-generate-check
