Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

go-no-replacement:
  name: Avoid committing debugging replacements
  entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
  language: system

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
  language: system
  pass_filenames: false

go-generate-check:
  name: Check go generate is up to date
  entry: bash -c 'go generate ./... && git diff --exit-code'
  language: system
  pass_filenames: false

Fix build step
  .github/workflows/build.yml
Due: none

Minor fix
  .github/workflows/build.yml
Due: none

Unify workflow
  .github/workflows/build.yml
  .github/workflows/go-tests.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/style.yml
  .github/workflows/test-race.yml
  .github/workflows/tests.yml
  .github/workflows/tidy.yml
Due: none

Fix race test
  .github/workflows/tests.yml
Due: none

Fix go vet
  .github/workflows/tests.yml
Due: none

Fix lint
  .github/workflows/tests.yml
Due: none

Code style
  internal/bridge/ui.go
  internal/mcp/client.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Fix more lint errors
  internal/adapter/anthropic/client.go
  internal/adapter/factory.go
  internal/adapter/openai/client.go
  internal/adapter/openai/responses/client.go
  internal/bridge/ui.go
  internal/editor/apply.go
  internal/engine/orchestrator.go
  internal/memory/conversation.go
  internal/tool/dir_test.go
  internal/tool/http_request.go
Due: go-vulncheck, go-generate-check

Add precommit
  .githooks/pre-commit
Due: none

Fix resizing issues
  ui/frontend/src/App.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
Due: none

Update system prompt
  internal/engine/system_prompt.go
Due: go-vulncheck, go-generate-check

System prompt changes
  internal/engine/system_prompt.go
Due: go-vulncheck, go-generate-check

WIP
  README.md
  internal/engine/system_prompt.go
  internal/symbols/service.go
  internal/tool/registry.go
  internal/tool/symbols.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Add symbols indexing progress reporting to App and Sidebar components
  internal/bridge/ui.go
  internal/symbols/service.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/main.go
Due: go-vulncheck, go-generate-check

Bridge
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: none

Bugfix with tool names
  internal/tool/registry.go
  internal/tool/symbols.go
Due: go-vulncheck, go-generate-check

SQLite
  go.mod
  go.sum
  internal/bridge/ui.go
  internal/symbols/service_sqlite.go
  internal/tool/symbols.go
Due: go-no-replacement, go-vulncheck, go-generate-check

Fix lint error
  internal/symbols/service_sqlite.go
Due: go-vulncheck, go-generate-check

Trying to fix indexing on larger projects
  internal/bridge/ui.go
  internal/engine/system_prompt.go
  internal/symbols/service.go
  internal/symbols/service_sqlite.go
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Fix indexing
  internal/symbols/service.go
  internal/symbols/service_sqlite.go
  ui/main.go
Due: go-vulncheck, go-generate-check

UTF support for indexing symbols
  internal/symbols/service.go
Due: go-vulncheck, go-generate-check

Code style
  internal/symbols/service.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Read file return also symbols
  internal/tool/read.go
Due: go-vulncheck, go-generate-check

Profiling
  .loom/hotlist.txt
  .loom/project_profile.json
  .loom/rules.md
  go.mod
  internal/bridge/ui.go
  internal/engine/context/profile_injector.go
  internal/engine/orchestrator.go
  internal/engine/system_prompt.go
  internal/profiler/fs_scan.go
  internal/profiler/gitstats/extractor.go
  internal/profiler/injector.go
  internal/profiler/lang_graph/builder.go
  internal/profiler/lang_graph/generic.go
  internal/profiler/lang_graph/go.go
  internal/profiler/lang_graph/php.go
  internal/profiler/lang_graph/ts.go
  internal/profiler/runner.go
  internal/profiler/score/score.go
  internal/profiler/shared/types.go
  internal/profiler/signals/ci.go
  internal/profiler/signals/codegen.go
  internal/profiler/signals/collector.go
  internal/profiler/signals/configs.go
  internal/profiler/signals/docs.go
  internal/profiler/signals/manifests.go
  internal/profiler/signals/routes.go
  internal/profiler/signals/scripts.go
  internal/profiler/types.go
  internal/profiler/write/hotlist_writer.go
  internal/profiler/write/project_profile_writer.go
  internal/profiler/write/rules_writer.go
  internal/profiler/write/writer.go
  internal/tool/profile.go
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/main.go
Due: go-no-replacement, go-vulncheck, go-generate-check

Profiling tests
  internal/profiler/fs_scan.go
  internal/profiler/fs_scan_test.go
  internal/profiler/gitstats/extractor_test.go
  internal/profiler/lang_graph/builder_test.go
  internal/profiler/lang_graph/go.go
  internal/profiler/lang_graph/php.go
  internal/profiler/lang_graph/ts.go
  internal/profiler/runner_test.go
  internal/profiler/score/score_test.go
  internal/profiler/shared/types_test.go
  internal/profiler/signals/collector_test.go
  internal/profiler/signals/docs.go
  internal/profiler/signals/manifests.go
  internal/profiler/signals/manifests_test.go
  internal/profiler/write/project_profile_writer.go
  internal/profiler/write/writer_test.go
Due: go-vulncheck, go-generate-check

New dialog for profiling and symbols
  internal/bridge/ui.go
  internal/tool/registry.go
  ui/frontend/src/components/dialogs/ProfileDialog.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Update screenshots
  .loom/hotlist.txt
  .loom/project_profile.json
  .loom/rules.md
  README.md
  screenshot1.png
  screenshot2.png
  screenshot3.png
  screenshot4.png
  screenshot_.png
Due: none

Fix frontend
  ui/frontend/src/components/dialogs/ProfileDialog.tsx
Due: none

Update screenshot for website
  .loom/project_profile.json
  web/public/screenshot1.png
Due: none

CHMOD
  ui/frontend/wailsjs/runtime/package.json
  ui/frontend/wailsjs/runtime/runtime.d.ts
  ui/frontend/wailsjs/runtime/runtime.js
Due: none

German README
  README_DE.md
Due: none

Fix files
  internal/editor/apply.go
Due: go-vulncheck, go-generate-check

Change readme
  README.md
Due: none

Better calculations of width for sidebar and chatpanel
  ui/frontend/src/App.tsx
Due: none

WIP
  .loom/hotlist.txt
  .loom/project_profile.json
  .loom/rules.md
  internal/engine/orchestrator.go
  internal/workflow/prompt.go
  internal/workflow/reducers.go
  internal/workflow/store.go
  internal/workflow/types.go
Due: go-vulncheck, go-generate-check

Fix panic
  internal/engine/context/profile_injector.go
  internal/profiler/injector.go
Due: go-vulncheck, go-generate-check

Introduce OpenRouter
  .loom/state.lock
  .loom/workflow_events.v1.ndjson
  .loom/workflow_state.v1.json
  internal/adapter/factory.go
  internal/adapter/models.go
  internal/adapter/openrouter/client.go
  internal/bridge/ui.go
  internal/config/settings.go
  internal/workflow/lock_unix.go
  internal/workflow/lock_windows.go
  internal/workflow/store.go
  ui/frontend/src/App.tsx
  ui/frontend/src/ModelSelector.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/MessageList.tsx
  ui/frontend/wailsjs/go/models.ts
Due: go-vulncheck, go-generate-check

Update README
  README.md
Due: none

Update README and README_DE
  README.md
  README_DE.md
Due: none

Path conditions:
  go-no-replacement: any of: go.mod$
  go-vulncheck: any of: (\.go|go\.mod|go\.sum)$
  go-generate-check: any of: \.go$
