Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: detect-private-key

  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-vet
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Additional Go tools
  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing debugging replacements
        entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
        language: system
        files: "go.mod$"

      - id: go-vulncheck
        name: Go vulnerability check
        entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
        language: system
        files: "(\\.go|go\\.mod|go\\.sum)$"
        pass_filenames: false

      - id: go-generate-check
        name: Check go generate is up to date
        entry: bash -c 'go generate ./... && git diff --exit-code'
        language: system
        files: "\\.go$"
        pass_filenames: false

default_install_hook_types:
  - pre-commit
  - pre-push

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Error handling
  loom_edit/loom_edit.go
Due: go-vulncheck, go-generate-check

Its editing!
  sample.json
Due: none

Panic handling
  task/executor.go
Due: go-vulncheck, go-generate-check

WIP
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
  task/edit_success_bug_test.go
  task/immediate_execution_test.go
  task/manager_test.go
  task/message_filter_fix_test.go
  task/sequential_manager_test.go
  task/task.go
  task/task_test.go
Due: go-vulncheck, go-generate-check

WIP
  llm/prompt.go
  task/immediate_execution_test.go
  task/manager_test.go
  task/sequential_manager_test.go
  task/tui_message_leak_test.go
Due: go-vulncheck, go-generate-check

Removing tests
  task/task_test.go
  task/tui_message_leak_test.go
Due: go-vulncheck, go-generate-check

Fix tests
  task/task_test.go
  task/tui_message_leak_test.go
Due: go-vulncheck, go-generate-check

REmove backup
  loom_edit/loom_edit.go
  sample.json
Due: go-vulncheck, go-generate-check

Remove stupid shit
  llm/prompt.go
  task/edit_success_bug_test.go
  task/task_test.go
  task/tui_message_leak_test.go
Due: go-vulncheck, go-generate-check

Remove more edit shit
  README.md
  chat/session.go
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
  task/message_filter_fix_test.go
  task/task.go
  task/task_test.go
Due: go-vulncheck, go-generate-check

Editing works
  sample.json
Due: none

Fix go mod for loom edit
  go.mod
  loom_edit/go.mod
Due: go-no-replacement, go-vulncheck

Fix test 3
  loom_edit/example/case3/edit.txt
  loom_edit/example/case3/final.txt
Due: none

Remove some more stuff
  task/task_test.go
Due: go-vulncheck, go-generate-check

Remove some more stuff
  README.md
  context/summarization.go
Due: go-vulncheck, go-generate-check

Automatic edit
  sample.json
Due: none

openai request wait
  llm/openai.go
Due: go-vulncheck, go-generate-check

Search and replacement in loom_edit
  llm/prompt.go
  loom_edit/example/case4/base.md
  loom_edit/example/case4/edit.txt
  loom_edit/example/case4/final.md
  loom_edit/example/case5/base.md
  loom_edit/example/case5/edit.txt
  loom_edit/example/case5/final.md
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
  sample.json
  task/sequential_manager.go
  task/task.go
Due: go-vulncheck, go-generate-check

Update task/task.go to include new search options and improve search functionality.
  task/executor.go
  task/task.go
Due: go-vulncheck, go-generate-check

Improve system prompt for fuzzy search
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Better prompt
  llm/prompt.go
Due: go-vulncheck, go-generate-check

Fix for windows in tests, remove double help command lines
  cmd/root.go
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
Due: go-vulncheck, go-generate-check

Improve results
  chat/session.go
  context/context.go
  task/sequential_manager.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

Simplify tui
  tui/tui.go
Due: go-vulncheck, go-generate-check

Remove some stuff
  indexer/indexer.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

TUI improvements
  cmd/index.go
  llm/prompt.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

Session and Completion detector improvements
  chat/session.go
  task/completion_detector.go
Due: go-vulncheck, go-generate-check

LOOM_EDIT enable CREATE action
  loom_edit/README.md
  loom_edit/example/case6/edit.txt
  loom_edit/example/case6/final.md
  loom_edit/loom_edit.go
  loom_edit/loom_edit_test.go
Due: go-vulncheck, go-generate-check

LOOM_EDIT seems to be working
  random.php
Due: none

Remove php example file
  random.php
Due: none

Code style
  loom_edit/loom_edit_test.go
Due: go-vulncheck, go-generate-check

Attach files with @
  indexer/indexer.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

Add space
  tui/tui.go
Due: go-vulncheck, go-generate-check

Code style
  indexer/indexer.go
  tui/tui.go
Due: go-vulncheck, go-generate-check

System prompt improvements
  llm/prompt.go
Due: go-vulncheck, go-generate-check

add tests
  chat/session_test.go
  git/git_test.go
  main_test.go
  memory/memory_test.go
  session/session_test.go
  tui/tui_test.go
  undo/undo_test.go
Due: go-vulncheck, go-generate-check

Add command autocomplete
  tui/tui.go
Due: go-vulncheck, go-generate-check

Easier command acceptance from autocomplete
  tui/tui.go
Due: go-vulncheck, go-generate-check

Fix tests for windows
  undo/undo.go
Due: go-vulncheck, go-generate-check

Refresh readme
  README.md
Due: none
