Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

go-no-replacement:
  name: Avoid committing debugging replacements
  entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
  language: system

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
  language: system
  pass_filenames: false

go-generate-check:
  name: Check go generate is up to date
  entry: bash -c 'go generate ./... && git diff --exit-code'
  language: system
  pass_filenames: false

Gitignore
  go.mod
  go.sum
  internal/bridge/ui.go
  ui/frontend/src/components/left/Files/FileExplorer.tsx
  ui/frontend/src/types/ui.ts
  ui/frontend/wailsjs/go/models.ts
Due: go-no-replacement, go-vulncheck, go-generate-check

Heavy caching, memoizations, performance optimizations
  ui/frontend/src/App.tsx
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/components/left/Conversations/ConversationList.tsx
  ui/frontend/src/components/left/Files/FileExplorer.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/src/components/markdown/MarkdownRenderer.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer.tsx
  ui/frontend/src/components/right/Chat/MessageList.tsx
  ui/frontend/src/components/right/Chat/ReasoningPanel.tsx
Due: none

Improve editing auto-application
  internal/editor/advanced.go
  internal/engine/orchestrator.go
  ui/frontend/src/components/center/EditorPanel.tsx
Due: go-vulncheck, go-generate-check

Minor bugfixes
  ui/frontend/src/App.tsx
Due: none

Minor code style bug
  ui/frontend/src/App.tsx
Due: none

Add File menu tab
  internal/bridge/ui.go
  ui/frontend/src/App.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/main.go
Due: go-vulncheck, go-generate-check

Fix order
  ui/main.go
Due: go-vulncheck, go-generate-check

Add pricing overviews
  internal/adapter/anthropic/client.go
  internal/adapter/openai/responses/client.go
  internal/bridge/ui.go
  internal/config/prices.go
  internal/engine/orchestrator.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/CostsDialog.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Persist
  internal/bridge/ui.go
  internal/engine/orchestrator.go
  internal/memory/project.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/CostsDialog.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Show total
  ui/frontend/src/components/dialogs/CostsDialog.tsx
  ui/frontend/src/components/left/Sidebar.tsx
Due: none

Some more labelling
  ui/frontend/src/components/left/Files/FileExplorer.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
Due: none

Add total tokens
  ui/frontend/src/components/dialogs/CostsDialog.tsx
  ui/frontend/wailsjs/runtime/package.json
  ui/frontend/wailsjs/runtime/runtime.d.ts
  ui/frontend/wailsjs/runtime/runtime.js
Due: none

Global costs tracking
  internal/bridge/ui.go
  internal/config/usage.go
  internal/engine/orchestrator.go
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/frontend/wailsjs/runtime/package.json
  ui/frontend/wailsjs/runtime/runtime.d.ts
  ui/frontend/wailsjs/runtime/runtime.js
Due: go-vulncheck, go-generate-check

Better splitting of costs
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/CostsDialog.tsx
Due: none

Remove some stuff
  ui/frontend/src/components/dialogs/CostsDialog.tsx
Due: none

Update screenshots from readme
  README.md
  screenshot1.png
  screenshot2.png
  screenshot_.png
Due: none

Attaching files
  internal/bridge/ui.go
  internal/engine/orchestrator.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer.tsx
Due: go-vulncheck, go-generate-check

Minor fixes for composer
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer.tsx
Due: none

Fix attachments
  internal/bridge/ui.go
  internal/engine/orchestrator.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer.tsx
  ui/frontend/src/components/right/Chat/MessageList.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Better search
  internal/bridge/ui.go
Due: go-vulncheck, go-generate-check

Use Callback
  ui/frontend/src/App.tsx
Due: none

Fix buttons
  ui/frontend/src/components/right/Chat/Composer.tsx
Due: none

Improve README
  README.md
Due: none

Add app icon
  ui/appicon.png
Due: none

Remove some debugging
  internal/bridge/ui.go
  internal/config/rules.go
  internal/editor/apply.go
  internal/memory/conversation.go
Due: go-vulncheck, go-generate-check

Remove some debugging
  internal/bridge/ui.go
Due: go-vulncheck, go-generate-check

Show permanent costs in sidebar
  ui/frontend/src/App.tsx
Due: none

Add tests as well as workflows
  .github/workflows/go-tests.yml
  internal/adapter/models_test.go
  internal/config/usage_test.go
  internal/engine/system_prompt_test.go
  internal/tool/dir_test.go
  internal/tool/read_test.go
  internal/tool/shell_test.go
Due: go-vulncheck, go-generate-check

Add status badge
  README.md
Due: none

Add more workflows
  .github/workflows/build.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/style.yml
  .github/workflows/test-race.yml
  .github/workflows/tidy.yml
  .gitignore
Due: none

New memories tool
  internal/bridge/ui.go
  internal/engine/orchestrator.go
  internal/engine/system_prompt.go
  internal/engine/system_prompt_test.go
  internal/tool/memories.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Add memories UI
  internal/bridge/ui.go
  internal/engine/system_prompt.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/MemoriesDialog.tsx
  ui/frontend/src/components/left/Sidebar.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
Due: go-vulncheck, go-generate-check

Autofocus
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
Due: none

MCP
  .loom/.gitignore
  internal/bridge/ui.go
  internal/config/mcp.go
  internal/mcp/client.go
  internal/mcp/manager.go
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/main.go
Due: go-vulncheck, go-generate-check

Update readme, remove deadcode
  README.md
  internal/adapter/anthropic/client.go
  internal/adapter/models.go
  internal/adapter/models_test.go
  internal/bridge/ui.go
  internal/editor/apply.go
  internal/editor/validator.go
  internal/engine/orchestrator.go
  internal/indexer/ripgrep.go
  internal/tool/shell_apply.go
Due: go-vulncheck, go-generate-check

Minor improvements
  internal/config/mcp.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Resizable UI, persist messages better from past conversations
  internal/bridge/ui.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
Due: go-vulncheck, go-generate-check

Update MCP client and manager for concurrent requests
  internal/bridge/ui.go
  internal/mcp/client.go
  internal/mcp/manager.go
  ui/main.go
Due: go-vulncheck, go-generate-check

Remove deadcode
  ui/main.go
Due: go-vulncheck, go-generate-check

Minor code improvements
  internal/bridge/ui.go
  internal/tool/util.go
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/main.go
Due: go-vulncheck, go-generate-check

Path conditions:
  go-no-replacement: any of: go.mod$
  go-vulncheck: any of: (\.go|go\.mod|go\.sum)$
  go-generate-check: any of: \.go$
