Repository TimAnthonyAlexander/loom: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-vulncheck, go-generate-check

go-no-replacement:
  name: Avoid committing debugging replacements
  entry: bash -c 'if grep -n "replace " go.mod; then echo "❌ Found replace directives in go.mod. Please remove them before committing."; exit 1; fi'
  language: system

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'command -v govulncheck >/dev/null 2>&1 && govulncheck ./... || echo "⚠️ govulncheck not installed, skipping vulnerability check"'
  language: system
  pass_filenames: false

go-generate-check:
  name: Check go generate is up to date
  entry: bash -c 'go generate ./... && git diff --exit-code'
  language: system
  pass_filenames: false

Add copy button
  ui/frontend/src/components/right/Chat/MessageList.tsx
Due: none

Update tools
  README.md
Due: none

Update DE tools
  README_DE.md
Due: none

Update web page
  .loom/project_profile.json
  web/src/App.tsx
Due: none

Vuln update
  go.mod
  go.sum
Due: go-no-replacement, go-vulncheck

Vuln update 2
  go.mod
  go.sum
Due: go-no-replacement, go-vulncheck

Update prec
  .githooks/pre-commit
Due: none

CLEANUP WIP
  internal/adapter/anthropic/client.go
  internal/adapter/openai/client.go
  internal/adapter/openai/responses/client.go
  internal/adapter/openrouter/client.go
Due: go-vulncheck, go-generate-check

WIP
  internal/adapter/anthropic/client.go
  internal/adapter/openai/client.go
  internal/adapter/openai/responses/client.go
  internal/adapter/openrouter/client.go
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/frontend/wailsjs/go/models.ts
Due: go-vulncheck, go-generate-check

Updates
  internal/adapter/openrouter/client.go
  internal/bridge/ui.go
  internal/engine/system_prompt.go
  internal/engine/system_prompt_test.go
  ui/main.go
Due: go-vulncheck, go-generate-check

WIP
  REFACTORING_RESULTS.md
  internal/adapter/common/base.go
  internal/adapter/common/conversion.go
  internal/adapter/common/streaming.go
  internal/adapter/common/validation.go
  internal/adapter/openai/client_new.go
  internal/adapter/openai/handler.go
  internal/engine/handlers/conversation.go
  internal/engine/handlers/streaming.go
  internal/engine/handlers/tools.go
  internal/engine/handlers/ui.go
Due: go-vulncheck, go-generate-check

WIP
  ui/frontend/src/App.tsx
  ui/frontend/src/components/center/EditorPanel.tsx
Due: none

Fix last WIP
  ui/frontend/src/components/center/EditorPanel.tsx
Due: none

WIP cleanup
  FINAL_SIMPLIFICATIONS.md
  internal/engine/system_prompt.go
  internal/engine/tokens/processor.go
  internal/engine/toolexec/executor.go
Due: go-vulncheck, go-generate-check

Minor fix WIP
  internal/adapter/openai/client_new.go
  internal/engine/tokens/processor.go
Due: go-vulncheck, go-generate-check

Add teal theme as default
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/main.tsx
  ui/frontend/src/themes/teal_converted.json
Due: none

Add choice of themes
  ui/frontend/src/App.tsx
  ui/frontend/src/components/DynamicThemeProvider.tsx
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/src/main.tsx
  ui/frontend/src/themes/themeConfig.ts
Due: none

Save choice
  internal/bridge/ui.go
  internal/config/settings.go
  ui/frontend/wailsjs/go/models.ts
Due: go-vulncheck, go-generate-check

Adding more editor themes
  ui/frontend/src/themes/forest_converted.json
  ui/frontend/src/themes/light_converted.json
  ui/frontend/src/themes/purple_converted.json
Due: none

More themes
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/src/themes/themeConfig.ts
Due: none

Many more themes
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/themes/lavender_converted.json
  ui/frontend/src/themes/mint_converted.json
  ui/frontend/src/themes/ocean_converted.json
  ui/frontend/src/themes/slate_converted.json
  ui/frontend/src/themes/sunset_converted.json
  ui/frontend/src/themes/themeConfig.ts
Due: none

Minor theme changes
  ui/frontend/src/components/center/EditorPanel.tsx
  ui/frontend/src/themes/slate_converted.json
  ui/frontend/src/themes/themeConfig.ts
Due: none

CHMDO
  ui/frontend/wailsjs/runtime/package.json
  ui/frontend/wailsjs/runtime/runtime.d.ts
  ui/frontend/wailsjs/runtime/runtime.js
Due: none

CHMOD
  ui/frontend/wailsjs/runtime/package.json
  ui/frontend/wailsjs/runtime/runtime.d.ts
  ui/frontend/wailsjs/runtime/runtime.js
Due: none

Fix color for message list
  ui/frontend/src/components/right/Chat/MessageList.tsx
Due: none

Personalities
  internal/bridge/ui.go
  internal/config/personalities.go
  internal/config/settings.go
  internal/engine/orchestrator.go
  internal/engine/system_prompt.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/wailsjs/go/bridge/App.d.ts
  ui/frontend/wailsjs/go/bridge/App.js
  ui/frontend/wailsjs/go/models.ts
Due: go-vulncheck, go-generate-check

System prompt improvement
  internal/engine/system_prompt.go
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
Due: go-vulncheck, go-generate-check

Hardcode for now
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
Due: none

Fix personalities stuff
  internal/engine/system_prompt.go
Due: go-vulncheck, go-generate-check

New personalities for FUN
  internal/config/personalities.go
Due: go-vulncheck, go-generate-check

Better retry
  internal/adapter/openrouter/client.go
  internal/engine/orchestrator.go
Due: go-vulncheck, go-generate-check

New composer
  ui/frontend/src/App.tsx
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer2.tsx
Due: none

Better composer even
  internal/engine/system_prompt.go
  ui/frontend/src/components/right/Chat/ChatPanel.tsx
  ui/frontend/src/components/right/Chat/Composer2.tsx
Due: go-vulncheck, go-generate-check

More improvements to composer
  ui/frontend/src/ModelSelector.tsx
  ui/frontend/src/components/right/Chat/Composer2.tsx
Due: none

Nicer composer
  ui/frontend/src/ModelSelector.tsx
  ui/frontend/src/components/right/Chat/Composer2.tsx
Due: none

Remove personality from settings dialog, fix model selection
  ui/frontend/src/ModelSelector.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
Due: none

Minor npm fixes
  internal/config/settings.go
  ui/frontend/src/App.tsx
  ui/frontend/src/components/dialogs/SettingsDialog.tsx
  ui/frontend/wailsjs/go/models.ts
Due: go-vulncheck, go-generate-check

Path conditions:
  go-no-replacement: any of: go.mod$
  go-vulncheck: any of: (\.go|go\.mod|go\.sum)$
  go-generate-check: any of: \.go$
